<connectionStrings>
  <add connectionString="Data Source=DESKTOP-TL7JT01;Initial Catalog=GestionFichaBD;Integrated Security=False;User ID=sa;Password=ernes.123*;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" name="GestionFichaContext" />
</connectionStrings>